.git
.lab6_venv
.env
data
models
reports
logs
docker
**/__pycache__
*.py[cod]
.pytest_cache
spark-warehouse
metastore_db
*.log
.DS_Store
datamart/target
datamart/project/target
datamart/project/project
